
@page
@inject IHttpContextAccessor contxt;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["FirstName"] @ViewData["LastName"]</h1>
</div>

<div class="text-center">
    <h2>Information</h2>
    <ul style="list-style-type: none">
        <li> Email: @ViewData["Email"]</li>
        <li> First Name: @ViewData["FirstName"]</li>
        <li> Last Name: @ViewData["LastName"]</li>
        <li> Shipping: @ViewData["Shipping"]</li>
        <li> Billing: @ViewData["Billing"]</li>
        <li> Credit Card: @ViewData["CreditCard"]</li>
        <li> Mobile No: @ViewData["MobileNo"]</li>
        <li> Password: @ViewData["Password"]</li>
        <li>
            @if (ViewData["File"] != null)
            {
                var base64Image = Convert.ToBase64String(ViewData["File"] as byte[]);
                var imgSrc = $"data:image/jpeg;base64,{base64Image}";

                <img src="@imgSrc" alt="User Image" />
            }
        </li>
    </ul>

</div>
